<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzu.queswer.dao.AnswerDao">
    <insert id="insertAnswer" useGeneratedKeys="true" keyProperty="answerId">
        INSERT INTO t_answer (gmt_create, user_id, question_id, ans, anonymous)
        VALUES (#{gmtCreate}, #{userId}, #{questionId}, #{ans}, #{anonymous})
    </insert>
    <update id="updateAnswer">
        UPDATE t_answer
        SET ans=#{ans},
            gmt_modify=#{gmtModify},
            anonymous=#{anonymous}
        WHERE answer_id = #{answerId}
    </update>
    <delete id="deleteAnswer">
        DELETE
        FROM t_answer
        WHERE answer_id = #{answerId}
    </delete>
    <select id="selectAnswer" resultType="com.gzu.queswer.model.Answer">
        SELECT answer_id,question_id,user_Id,ans,gmt_create,gmt_modify,anonymous
        FROM t_answer
        WHERE answer_id = #{answerId}
    </select>
    <select id="selectAnswerIdsByUserId" resultType="Long">
        SELECT answer_id
        FROM t_answer
        WHERE user_id = #{userId}
          AND anonymous=false;
    </select>
</mapper>