<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzu.queswer.dao.AnswerDao">
    <insert id="insertAnswer" useGeneratedKeys="true" keyProperty="ansId">
        INSERT INTO t_answer (gmtCreate, uId, qId, ans, anonymous)
        VALUES (#{gmtCreate}, #{uId}, #{qId}, #{ans}, #{anonymous})
    </insert>
    <update id="updateAnswer">
        UPDATE t_answer
        SET ans=#{ans},
            gmtModify=#{gmtModify},
            anonymous=#{anonymous}
        WHERE ansId = #{ansId}
    </update>
    <delete id="deleteAnswerByAid">
        DELETE
        FROM t_answer
        WHERE ansId = #{ansId}
    </delete>
    <select id="selectAnswerbyAid" resultType="com.gzu.queswer.model.Answer">
        SELECT ansId,qId,uId,ans,gmtCreate,gmtModify,anonymous
        FROM t_answer
        WHERE ansId = #{ansId}
    </select>
</mapper>