<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzu.queswer.dao.ReviewDao">
    <insert id="insertReview" useGeneratedKeys="true" keyProperty="rId">
        INSERT INTO t_review (gmt_create, answer_id, user_id, revi, reply_id, deleted)
        VALUES (#{gmtCreate}, #{answerId}, #{userId}, #{revi}, #{replyId}, False);
    </insert>
    <delete id="deleteReview">
        UPDATE t_review
        SET deleted=1
        WHERE review_id = #{reviewId};
    </delete>
    <select id="selectReview" resultType="com.gzu.queswer.model.Review">
        SELECT review_id,
               gmt_create,
               answer_id,
               user_id,
               IF(deleted = FALSE, revi, null) revi,
               reply_id,
               deleted
        FROM t_review
        WHERE review_id = #{reviewId};
    </select>
</mapper>