<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzu.queswer.dao.ReviewDao">
    <insert id="insertReview" useGeneratedKeys="true" keyProperty="rid">
        INSERT INTO t_review (review_time, aid, uid, review, reply_rid, deleted)
        VALUES (now(), #{aid}, #{uid}, #{review}, #{reply_rid}, False);
    </insert>
    <delete id="deleteReviewByRid">
        UPDATE t_review
        SET deleted=1
        WHERE rid = #{rid};
    </delete>
    <delete id="deleteReviewByUid">
        UPDATE t_review
        SET deleted=1
        WHERE rid = #{rid}
          AND uid = #{uid};
    </delete>
    <select id="selectReviewsByAid" resultType="com.gzu.queswer.model.Review">
        SELECT rid,
               UNIX_TIMESTAMP(review_time)   review_time,
               aid,
               uid,
               IF(deleted = FALSE, review, null) review,
               reply_rid,
               deleted
        FROM t_review
        WHERE aid = #{aid};
    </select>
    <select id="selectAnswererByAid" resultType="hashmap">
        SELECT qid,uid,anonymous FROM t_answer WHERE aid=#{aid};
    </select>
    <select id="selectQuestionerByQid" resultType="hashmap">
        SELECT uid,anonymous FROM t_question WHERE qid=#{qid};
    </select>
</mapper>