<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzu.queswer.dao.ReviewDao">
    <insert id="insertReview" useGeneratedKeys="true" keyProperty="rId">
        INSERT INTO t_review (gmtCreate, aId, uId, review, replyRId, deleted)
        VALUES (#{gmtCreate}, #{aId}, #{uId}, #{review}, #{replyRId}, False);
    </insert>
    <select id="selectReviewByRid" resultType="com.gzu.queswer.model.Review">
        SELECT r_id,
               gmt_Create,
               a_id,
               u_id,
               IF(deleted = FALSE, revi, null) revi,
               reply_r_id,
               deleted
        FROM t_review WHERE r_id=#{rId};
    </select>
    <delete id="deleteReviewByRid">
        UPDATE t_review
        SET deleted=1
        WHERE r_id = #{rId};
    </delete>
    <select id="selectRidsByAid" resultType="Long">
        SELECT r_id
        FROM t_review
        WHERE a_id = #{aId};
    </select>
</mapper>